<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <title>MadLips</title>
  </head>
  <body>
    <div class="container">
      <h1>Your Triangle</h1>
      <ol>
      <li>You entered Side 1 = @Model.GetSide1()</li>
      <li>You entered Side 2 = @Model.GetSide2()</li>
      <li>You entered Side 3 = @Model.GetSide3()</li>

      <p>@Model.CheckTriangle()
      </p>
    </div>
  </body>
</html>
